
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1em;
}
button {
  background: #333;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 0.2em;
  border-radius: 5px;
}
